body
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/adminreg.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    color:  white;
    font-family: 'cairo';
}
.form-container{
    margin-top: 20px;
    width: 30%;
    height: 700px;
    background-color: #eeeeee31;
    display: flex;
    justify-content: center;
    border-radius: 15px;


}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;

}

form input{
    align-self: center;
    margin: 10px;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    opacity: 0.7;

}
form button
{
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    background-color:black ;
    font-size: 20px;
    font-family: 'cairo';
    cursor: pointer;

}
a{
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    margin-left: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button:hover,a:hover
{
    color: rgb(210, 107, 38);
}
h3{
    font-size: 40px ;
}
