
body {
    background-image: url('../images/adminprod.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}


nav {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-sizing: border-box;
}


button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #4980a4;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: #3498db;
}


h3 {
    padding-right: 25px;
    padding-top: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
}

.card {
    padding-top: 30px;
    border-style: solid;
    border-color: #74c2f6;
    border-radius: 10px;
    float: right;
    margin-top: 20px;
    margin-left: 52px;
    margin-right: 10px;
}

.card img {
    margin-bottom: 50px;
    width: 100%;
    height: 200px;
}

main {
    height: 100%;
    width: 80%;
}


.des {
    color: black;
    font-size: large;
    font-weight: bolder;
    font-style: oblique;
}

.sinput{

    display: inline-block;
    height: 40px ;
    border-radius: 8px;
}
.sform{
     margin-left: 25px;
}