/* General body styling */
body {
    background-image: url("../image/back\ 0.jpg"); /* Replace with your image path */
    background-size: cover; /* Adjust size and position as needed */
    background-repeat: no-repeat;
    background-position: center center;
}

/* Navigation bar styling */
nav {
    background-color: aliceblue;
}

/* Button styling */
button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: #4980a4;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: #3498db;
}

button:active {
    transform: translate(0em, 0.2em);
}

/* Header styling */
h3 {
    padding-right: 25px;
    padding-top: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: bolder;
}

/* Card styling */
.card {
    padding-top: 30px;
    border-style: solid;
    border-color: #74c2f6;
    border-radius: 10px;
    float: right;
    margin-top: 20px;
    margin-left: 52px;
    margin-right: 10px;
}

.card img {
    margin-bottom: 50px;
    width: 100%;
    height: 200px;
}

/* Main container styling */
main {
    height: 100%;
    width: 80%;
}

/* Description text styling */
.des {
    color: black;
    font-size: large;
    font-weight: bolder;
    font-style: oblique;
}
