
body {
   background-image: url("../images/for.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
 }

 .form-container {
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .form-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
 }

 .form-container .box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f1f1f1;
 }

 .form-container .btn {
    width: 100%;
    padding: 10px;
    background: #3d2508;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
 }

 .form-container .btn:hover {
    background: #495057;
 }

 .form-container p {
    text-align: center;
    margin-top: 15px;
    color: #666;
 }

 .form-container a {
    color: #495057;
    text-decoration: none;
 }

 .form-container a:hover {
    text-decoration: underline;
 }